@use '@/shared/styles/variables.scss' as variables;

.about {
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/about-section-background.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 128px;

  .content {
    display: flex;
    gap: 6vw;

    @media screen and (max-width: variables.$breakpoint-tablet) {
      flex-direction: column-reverse;
      gap: 32px;
      margin-top: 32px;
    }

    .info {

      p {
        font-size: 18px;
        line-height: 2;
        margin: 32px 0;
      }
    }
  }
}