@use '@/shared/styles/variables.scss' as variables;

.priceContainer {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
  background-image: url('../../../assets/price-section-background.png');
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;

  @media screen and (max-width: variables.$breakpoint-tablet) {
    padding: 64px 0;
    gap: 24px;
  }
  
  h1 {
    align-items: center;
  }

  .price {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 400;

    @media screen and (max-width: variables.$breakpoint-tablet) {
      font-size: 16px;
    }

    span {
      color: rgb(255, 152, 16);
    }
  }

  p {
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    max-width: 640px;
    color: #8C8C8C;
    margin-bottom: 32px;

    @media screen and (max-width: variables.$breakpoint-tablet) {
      font-size: 8px;
      margin-bottom: 8px;
    }
  }
}